extends layout.pug

block content
  p.lead Paste in your trips.txt and stop_times.txt files below
  
  form(method='post', action='/')
    div.form-group
      label(for='trips') trips.txt
      textarea.form-control(name='trips', rows='10')
    div.form-group
      label(for='times') stop_times.txt
      textarea.form-control(name='times', rows='10')
    div.form-group
      button.btn.btn-secondary(type='submit') Submit
    